<nav>
  <ul>
    <li>
      <a [routerLink]="['enroll']">Enroll Buddy</a>
    </li>
    <li>
      <a [routerLink]="['today']">Today Birthdays</a>
    </li>
    <li>
      <a [routerLink]="['compose']">Compose Greeting</a>
    </li>
    <li>
      <a [routerLink]="['config']">Config</a>
    </li>
  </ul>
</nav>
<button type="button" class="ui small button" (click)="logout()">Logout</button>
<p><span>{{user.displayName}}</span></p>
<p><span>{{user.email}}</span></p>
<img src="{{user.photoURL}}" />